# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
.Python

# Virtual Environment
.venv/
env/
.env/
venv/
ENV/

# Django
*.sqlite3
db.sqlite3
.db.sqlite3
.db.sqlite3/
*.log
media/
staticfiles/
.env
.env.local

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Test/coverage
htmlcov/
.coverage
.coverage.*
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.pytest_cache

# Node
node_modules/

# Misc
*.bak
*.swp
*.tmp

# Git
*.orig

# VsCode Settings
.vscode/
.idea/
*.sublime-workspace

# Django migrations (ignore all except __init__.py)
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc